STATION_DATABASE_URL=postgres://station:station@127.0.0.1:5432/station
PACK_DATABASE_URL=postgres://pack:pack@127.0.0.1:5432/pack
STATION_MASTER_KEY=
STATION_CONTROL_TOKEN=
STATION_COCKPIT_PASSWORD=
STATION_COCKPIT_PORT=19173
STATION_WORKER_PORT=19174
NODE_ENV=development
STATION_GRAPH_TENANT_ID=
STATION_GRAPH_CLIENT_ID=
STATION_GRAPH_CLIENT_SECRET=
